<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= getPreparedTitle() %></title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/index.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/rss+xml" title="dontkry.com" href="http://www.dontkry.com/rss.xml">
</head>
<body class="body-<%- document.slug %>">
  <div class="container">

    <ul class="topbar">
      <li>kyle robinson young</li>
      <li><a href="/">blog</a></li>
      <li><a href="https://www.youtube.com/user/kylerobinsonyoung" target="_BLANK">videos</a></li>
      <li><a href="/about.html">about</a></li>
      <li><a href="http://twitter.com/shamakry" target="_blank">twitter</a></li>
      <li><a href="https://github.com/shama" target="_blank">github</a></li>
    </ul>

    <div class="content">
      <%- content %>
    </div>
  </div>
  <%- partial('ga') %>
  <%- getBlock('scripts').add(['/js/bundle.js'].concat(document.scripts || []), {defer:false,async:false}).toHTML() %>
  <% if (document.slug === 'index') { %>
    <% /*partial('ads')*/ %>
  <% } %>
</body>
</html>