<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= getPreparedTitle() %></title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="alternate" type="application/rss+xml" title="dontkry.com" href="http://www.dontkry.com/rss.xml">
</head>
<body class="body-<%- document.slug %>">
  <div class="container">
    
    <div class="header">
      <ul>
        <li class="avatar">
          <a href="/">
            <img src="http://www.gravatar.com/avatar/5211ea711bb06482530172f77732f61a.png" class="round" /></a>
        <li class="name">
          kyle robinson young
        <li class="icons">
        <% var icons = ['github', 'twitter', 'ynab', 'gruntjs', 'voxeljs'] %>
        <% for (var i = 0; i < icons.length; i++) { %>
          <div class="icon">
            <%- partial('icons/' + icons[i]) %>
          </div>
        <% } %>
        <br class="clear" />
        <li class="nav">
          <a href="/">blog</a><br/>
          <a href="/projects.html">projects</a><br/>
          <a href="/about.html">about</a><br/>
      </ul>
    </div>

    <div class="content">
      <%- content %>
    </div>
  </div>
  <%- partial('ga') %>
  <%- getBlock('scripts').add(['/js/bundle.js'].concat(document.scripts || []), {defer:false,async:false}).toHTML() %>
  <% if (document.slug === 'index') { %>
    <% /*partial('ads')*/ %>
  <% } %>
</body>
</html>