---
layout: default
---
<div class="post">
  <div class="header">
    <% if (document.project) { %>
      <div class="project">
        <%- partial('icons/' + document.project) %>
      </div>
    <% } else { %>
      <div class="icon"><i class="icon-<%= document.icon || 'picture' %> icon-white"></i></div>
    <% } %>
    <h2><%- document.title %></h2>
    <em class="date"><%- document.date.toDateString() %></em>
  </div>
  <div class="content">
    <% if (document.deprecated) { %>
      <div class="deprecated">
        <b>Warning: This post may no longer be accurate or valid.</b><br/>
        &nbsp;&nbsp;&nbsp;Reason: <em><%- document.deprecated %></em>
      </div>
    <% } %>
    <%- headersToLinks(content) %>
  </div>

  <%- partial('share') %>
</div>

<div class="comments">
  Leave a comment by writing a blog post on your website.
</div>
