---
layout: default
---
<div class="post">
  <div class="header">
    <h1><%- document.title %></h1>
    <em class="date"><%- document.date.toDateString() %></em>
    <% if (document.project) { %>
        <div class="project">
          <%- partial('icons/' + document.project) %>
        </div>
      <% } else { %>
        <div class="icon"><i class="icon-<%= document.icon || 'picture' %> icon-white"></i></div>
      <% } %>
  </div>
  <div class="content">
    <% if (document.deprecated) { %>
      <div class="deprecated">
        <b>Warning: This post may no longer be accurate or valid.</b><br/>
        &nbsp;&nbsp;&nbsp;Reason: <em><%- document.deprecated %></em>
      </div>
    <% } %>
    <%- headersToLinks(content) %>
  </div>

  <div class="edit">
    <%- ghedit() %>
  </div>

  <%- partial('share') %>
</div>

<%- partial('disqus') %>
